/* ---------------------------------------------------------------------
main - Main body content container
------------------------------------------------------------------------ */
.main {
    padding: 20px 10px 0 10px;
    line-height: 1;
    font-size: 20px;
    font-family: 'Slabo 27px', serif;
}