.input {
    width: 100%;
    height: 40px;
    border-style: solid;
    border-width: 2px;
    border-color: #7f7f7f;
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
    padding-left: 1%;
}

.input_text:read-only {
    border-color: #F0F0F5;
}
.input_text {
    width: 98%;
}

.input_button {
    height: 60px;
    font-weight: 700;
}