﻿@using System.Globalization
@model TvmCalculator.Web.ViewModels.CalculatorInputsViewModel
@{
    ViewBag.Title = "Calculator";
    Layout = "~/Views/shared/_Layout.cshtml";
}
<div class="wrapper">
    <h1 class="headline_1">Time Money Value Calculators</h1>
    <div class="js-calculator">
        <form class="js-calculator-form" method="post" action="/api/calculator">
            <div class="shelf shelf_md">Description of calculator</div>
            <div class="shelf shelf_sm">
                <label class="blockLabel">Promotions</label>
                @Html.DropDownList("PromotionId", Model.PromotionOptions, new { @class = "input js-promotion-type-select" })
                <input type="hidden" class="js-promotion-type-input" name="PromotionType" value="@Model.InitialPromotion.PromotionType" />
            </div>
            <div class="shelf shelf_sm">
                <label class="blockLabel">Terms</label>
                <select id="Terms" name="ContractTerm" class="input js-terms-select">
                    @foreach (var term in Model.InitialPromotion.Terms)
                    {
                        <option value="@term.Value" data-apr="@term.Apr.ToString(CultureInfo.InvariantCulture)">@term.Name</option>
                    }
                </select>
            </div>
            <div class="shelf shelf_sm">
                <label class="blockLabel">APR</label>
                <input type="text" name="AprAsPercent" class="input input_text js-apr-input" value="@(Model.InitialPromotion.Terms.Any() ? Model.InitialPromotion.Terms.First().Apr.ToString(CultureInfo.InvariantCulture) : "")" readonly />
            </div>
            <div class="shelf shelf_sm js-deferred-section @(Model.InitialPromotion.MonthsDeffered > 0 ? "" : "isHidden")">
                <label class="blockLabel">Deferred Length</label>
                <input type="text" class="input input_text js-deferred-input" name="DeferredLengthInMonths" value="@Model.InitialPromotion.MonthsDeffered" readonly />
            </div>
            <div class="shelf shelf_sm">
                <label class="blockLabel">Compounding Periods Per Year</label>
                <input type="text" class="input input_text js-CompoundingPeriodsPerYear" name="CompoundPeriodsPerYear" value="@Model.InitialPromotion.CompoundingPeriodsPerYear" readonly />
            </div>
            <div class="shelf shelf_md">
                <label class="blockLabel">Contract Amount</label>
                <input type="text" class="input input_text" name="ContractAmount" />
            </div>
            <div class="shelf shelf_lg">
                <button type="submit" class="input input_button">Calculate</button>
            </div>
        </form>
        <div class="shelf shelf_lg js-calculator-error shelf shelf_md isHidden">
            <div class="errorBlock">
                There was an error running the calculation.
            </div>
        </div>
        <div class="results js-calculation-results-section isHidden">
            <div class="results-row">
                <span>APR</span>
                <span class="js-apr-result"></span>
            </div>
            <div class="results-row">
                <span>Finance Charge</span>
                <span class="js-finance-charge-result"></span>
            </div>
            <div class="results-row">
                <span>Financed Amount</span>
                <span class="js-finance-amt-result"></span>
            </div>
            <div class="results-row">
                <span>Total of Payments</span>
                <span class="js-payment-total-result"></span>
            </div>
            <div class="results-row">
                <span>Sales Price</span>
                <span class="js-total-sales-price-result"></span>
            </div>
            <div class="results-row">
                <span>Payment Amount</span>
                <span class="js-payment-amount-result"></span>
            </div>
        </div>
    </div>
</div>