.results {
    display:table;
    background-color: #F0F0F5;
    border: 1px solid #7f7f7f;
    margin: 0 auto;
}

.results-row { display: table-row; }

.results-row > * {
    display: table-cell;
    padding: 10px 15px;
}

.results-row > *:first-child {
    font-weight: 700;
}